<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="leanOwinApi">
      <section name="service" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
      <section name="webApi" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Temp" value="Hello world!" />
  </appSettings>
  <leanOwinApi>
    <service>
      <displayName>Lean OWIN API Service</displayName>
      <name>LeanOwinApi</name>
      <description>Self-hosted OWIN API.</description>
      <startupBaseUrl>http://*:1337</startupBaseUrl>
    </service>
    <webApi>
      <helloWorldMessage>Hello wasdfasforld!</helloWorldMessage>
      <corsAllowedOrigins>
        <origin>*</origin>
      </corsAllowedOrigins>
    </webApi>
  </leanOwinApi>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.154.0" newVersion="3.3.154.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>